* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  user-select: none;
  cursor: default;
}

body {
  background-color: black;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  width: 50%;
  height: 600px;
  margin: auto;

  stroke: #fcf798;
  fill: #000;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1060;

  animation: traceOutline 4s linear forwards;
}

@keyframes traceOutline {
  to {
    stroke-dashoffset: 0;
  }
}
